<!DOCTYPE html>
<html>

<head>
<% include partials/head.ejs %>
</head>

<body>
<% include partials/nav.ejs %>


<div class="formNew">
    <div class="w3-container w3-blue">
        <h4 class="h4navColor">Edit One of Your Wines</h4>
    </div>

    <form class="w3-container" action="/wines/<%= wine.id %>?_method=PUT" method="POST">


        <p>
            <input class="w3-input" type="text" name="name_of_winery" value="<%= wine.name_of_winery %>" placeholder="Name of Winery" required/>

        </p>
        <p>
            <input class="w3-input" type="text" name="year" value="<%= wine.year %>" placeholder="Year" required/>
        </p>
        <p>

            <input class="w3-input" type="text" name="region" value="<%= wine.region %>" placeholder="Region" required/>
        </p>
        <p>
            <input class="w3-input" type="text" name="country" value="<%= wine.country %>" placeholder="Country" required/>
        </p>
        <p>
            <input class="w3-input" type="text" name="submitted_by" value="<%= wine.submitted_by %>" placeholder="Your Name" />
        </p>
        <p>
            <input class="w3-input" type="img" name="url" value="<%= wine.url %>" placeholder="Image Link" />

        </p>


        <div class="text-center">
            <button class="btn btn-indigo">Send
                <i class="fa fa-paper-plane-o ml-1"></i>
            </button>
        </div>

    </form>
</div>

    <a href="/wines/">
        <div class="backBtn  center">
            <div class="btn btn-default">Back to User Recommendations</div>
        </div>
    </a>
<br>
    <% include partials/footer.ejs%>
</body>

</html>
