<!DOCTYPE html>
<html>

<head>
    <% include partials/head.ejs %>
</head>

<body>
    <% include partials/nav.ejs %>

        
            <div class="center">
            <div class="logoCenter">
                <h1 class="logoh1">Grape Varieties</h1>
            </div>
        </div>


        <div class="w3-center">
            <div class="w3-bar">
                <div class="chooseWineBtnflex">
        
                    <!-- <form action="/regions/France" method="GET">
                        <button class="w3-button w3-white w3-border" value="France">French Wine under $15</button>
                    </form> -->
        
                    <button class="w3-button w3-white w3-border">Highest Ranked Red Wine under $15</button>
                    <button class="w3-button w3-white w3-border">Highest Ranked Rose Wine under $15</button>
                    <button class="w3-button w3-white w3-border">Highest Ranked White Wine under $15</button>
                </div>
            </div>
        </div>

<div class="w3-main w3-content w3-padding">
    <div class="w3-row-padding w3-padding-16 w3-center">
        <!-- for (let i = 0; i < 5; i++) { -->
        <% for (let wine of wines) { %>
            <div class="w3-quarter">
                <img style="max-width: 100%; height:auto;" src='<%= wine.image %>' />
                <h3 style="border-bottom: 1px solid lightgray" class="wineListData">
                    <%= wine.name %>
                </h3>
                <h4 class="wineListData">
                    <%= wine.varietal %>
                </h4>
                <h4 class="wineListData">Type:
                    <%= wine.type %>
                </h4>
                <h4 class="wineListData">Merchants:
                    <%= wine.num_merchants %>
                </h4>
                <h4 class="wineListData">Ranking:
                    <%= wine.snoothrank %>
                </h4>
                <h4 class="wineListData">$
                    <%= wine.price %>
                </h4>
                <a href="<%= wine.link%>">
                    <h6 style="color:gray;">More Info</h6>
                </a>
            </div>
            <% } %>
    </div>
</div>


        <% include partials/footer.ejs%>
</body>

</html>