<!DOCTYPE html>
<html>

<head>
    <% include partials/head.ejs %>
</head>

<body>
    <% include partials/nav.ejs %>

   
        <div class="center">
            <div class="logoCenter">
                <h1 class="logoh1">Grape Varieties</h1>
            </div>
        </div>


<div class="w3-main w3-content w3-padding">
        <div class="w3-center">
            <div class="w3-bar">
                <div class="wineGlasses">
                    <img class="smallWineGlasses" src="/images/3.png" alt="">
                    <img class="smallWineGlasses" src="/images/2.png" alt="">
                    <img class="smallWineGlasses" src="/images/1.png" alt="">
                    
                </div>
                <div class="chooseWineBtnflex">
                <form action="/wines/grape-varieties/red" method="GET">
                    <button class="w3-button w3-white w3-border">Highest Ranked Red Wine under $20</button>
                    </form>
                <form action="/wines/grape-varieties/rose" method="GET">
                    <button class="w3-button w3-white w3-border">Highest Ranked Rose Wine under $20</button>
                    </form>
                <form action="/wines/grape-varieties/white" method="GET">
                    <button class="w3-button w3-white w3-border">Highest Ranked White Wine under $20</button>
                    </form>
                </div>
            </div>
        </div>


    <div class="w3-row-padding w3-padding-16 w3-center">
        <!-- for (let i = 0; i < 5; i++) { -->
        <% for (let wine of wines) { %>
            <div class="w3-quarter">
                <img style="max-width: 100%; height:auto;" src='<%= wine.image %>' />
            <h3 class="wineListData">
                <%= wine.name %>
            </h3>
            <h4 class="wineListData borderTop">
                <%= wine.varietal %>
            </h4>
                <!-- <h4 class="wineListData">Type:
                    <%= wine.type %>
                </h4> -->
                <h4 class="wineListData">
                    </h4>
                    <div class="rating">
                <% for (let i=0; i< wine.snoothrank; i++) {  %>
                        <div class="star">☆</div>
                <% } %>
            </div>
                <h4 class="wineListData">$<%= wine.price %>
                </h4>
                <h7 class="wineListData">Available at
                    <%= wine.num_merchants %> stores
                </h7>
                <a href="<%= wine.link%>">
                    <h6 style="color:gray;">More Info</h6>
                </a>
            </div>
            <% } %>
    </div>
</div>


        <% include partials/footer.ejs%>
</body>

</html>