<!DOCTYPE html>
<html>

<head>
  <% include partials/head.ejs %>
</head>

<body>

  <% include partials/nav.ejs %>
  <br>
  <br>
  <a href="/wines/new">
    <div class="btn btn-default"> Add a Wine Bottle </div>
  </a>


<!-- - Begin Wine-Searcher Code - -->
<!-- <div style="padding:6px;vertical-align:middle;float:left;width:360px;height:38px;background-color:#edecec;border:4px solid #d2d2d2;margin:5px 0 5px 0;padding:5px;border-radius:4px">
  <form name="searchform" method="GET" action="http://www.wine-searcher.com/wine-select.lml">
    <input type="hidden" name="Xfromsearch" value="Y">
    <input id="Xwinename" type="TEXT" name="Xwinename" value="" title="Search phrase" style="width:200px;padding-left:4px;color:#333;font-size:16px;background:#fff;border:1px solid #A8C16E;border-radius:4px;height:30px;position:relative;margin-bottom:5px"
      placeholder="Wine name">
    <input id="Xvintage" type="TEXT" size="4" maxlength="4" name="Xvintage" value="" title="Vintage (use 'NV' for non-vintage). Leave blank to search all vintages."
      style="width:76px;padding-left:4px;color:#333;font-size:16px;background:#fff;border:1px solid #A8C16E;border-radius:4px;height:30px;position:relative;margin-bottom:5px"
      placeholder="Vintage">
    <input type="submit" value="Search" style="cursor:pointer;width:61px;height:35px;color:#fff;background:#A8C16E;float:right;border:1px solid #A8C16E;border-radius:4px"
      name="searchbutton" onclick="return button_click();">
  </form>
</div> -->
<!-- - End Wine-Searcher Code - -->



  <br>
  <br>
    <div class="containerWine">
        <% for (let i = 0; i < wines.length; i++) { %>
          <div class="item">
            <a href="/wines/<%= wines[i].id %>/"><img src="<%= wines[i].url %>" />  
            <a href="/wines/<%= wines[i].id %>/"> <%= wines[i].file %>
          
            <h2><%= wines[i].name_of_winery %></h2>
            <h4><%= wines[i].year %></h4>
            </a>
          </div>
        <% } %>
    </div>
    
        <br><br>
     <% include partials/footer.ejs%>
  </body>
</html>
