<!DOCTYPE html>
<html>
  <head>
  <% include partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include partials/header.ejs %>
    </header>

        <a href="/wines/new">
          <div class="addbtn">Add a New Wine!</div>
        </a>

    <div class="containerWine">
        <% for (let i = 0; i < wines.length; i++) { %>
          <div class="item">
            <a href="/wines/<%= wines[i].id %>/"><img src="<%= wines[i].url %>" />  
            <a href="/wines/<%= wines[i].id %>/"> <%= wines[i].file %>
          
            <h2><%= wines[i].name_of_winery %></h2>
            <h4><%= wines[i].year %></h4>
            </a>
          </div>
        <% } %>
    </div>
    
        <br><br>
     <% include partials/footer.ejs%>
  </body>
</html>
