<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <% include partials/head.ejs %>
</head>

<body>
    <% include partials/nav.ejs %>

    <div class="mainPictureDiv">
        <div class="logoCenter">
            <h1 class="logoh1">Regions</h1>
        </div>
</div>
<div class="w3-center">
    <div class="w3-bar">
        <div class="chooseWineBtnflex">
            
            <form action="/wines/regions/FR" method="GET">
                <button class="w3-button w3-white w3-border">French Wine under $15</button>
            </form>
            <form action="/wines/regions/US" method="GET">
                <button class="w3-button w3-white w3-border">USA Wine under $15</button>
            </form>
            <form action="/wines/regions/ES" method="GET">
                <button class="w3-button w3-white w3-border">Spanish Wine under $15</button>
            </form>
            <form action="/wines/regions/PT" method="GET">
                <button class="w3-button w3-white w3-border">Portugal Wine under $15</button>
            </form>
            <form action="/wines/regions/NZ" method="GET">
                <button class="w3-button w3-white w3-border">New Zealeand Wine under $15</button>
            </form>
            <form action="/wines/regions/IT" method="GET">
                <button class="w3-button w3-white w3-border">Italian Wine under $15</button>
            </form>
            <form action="/wines/regions/AU" method="GET">
                <button class="w3-button w3-white w3-border">Australian Wine under $15</button>
            </form>
        </div>
    </div>
</div>


<!-- wine categories -->
<div class="w3-main w3-content w3-padding">
    <div class="w3-row-padding w3-padding-16 w3-center">
<!-- for (let i = 0; i < 5; i++) { -->

<% for (let wine of wines) { %>
    <div class="w3-quarter">
        <img style="max-width: 100%; height:auto;" src='<%= wine.image %>' />
        <h3  class="wineListData">
            <%= wine.name %>
        </h3>
        <h4 class="wineListData borderTop">
            <%= wine.varietal %>
        </h4>
        <h4 class="wineListData">Type:
            <%= wine.type %>
        </h4>
        <h4 class="wineListData">
        </h4>
        <div class="rating">
            <% for (let i=0; i< wine.snoothrank; i++) {  %>
                <div class="star">☆</div>
                <% } %>
        </div>
        <h4 class="wineListData">$<%= wine.price %>
        </h4>
        <h7 class="wineListData">Available at
            <%= wine.num_merchants %> stores
        </h7>
        <a href="<%= wine.link%>">
            <h6 style="color:gray;">More Info</h6>
        </a>
    </div>
    <% } %>
</div>
</div>

<div class="mapArea">
    <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
    <div id="map"></div>
    <div id="infowindow-content">
        <span id="place-name" class="title"></span>
        <br> Place ID
        <span id="place-id"></span>
        <br>
        <span id="place-address"></span>
    </div>
</div>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%=env.APIKEY%>&libraries=places&callback=initMap" async defer></script>

  

    <% include partials/footer.ejs%>
</body>

</html>