<!DOCTYPE html>
<html>
  <head>
<% include partials/head.ejs %>
  </head>
  <body>

    <header>
      <% include partials/header.ejs %>
    </header>
    <br><br><br><br><br>
    <img class="imgShowPage" src='<%= oneWine.url %>' />
    <%= oneWine.file %>
  <br>
    

  <h3><%= oneWine.name_of_winery %></h3>
  <h3><%= oneWine.year %></h3>
  <!-- <h3><%= oneWine.region %></h3> -->
  <!-- <h3><%= oneWine.submitted_by %></h3> -->

  <br>

    <form action="/wines/<%=oneWine.id; %>/edit">
      <input class="btn btn-default btn-xs" type="submit" value="Edit" />
    </form>

    <br>

    <form action="/wines/<%= oneWine.id;%>?_method=DELETE" method="POST">
      <input class="btn btn-default btn-xs" type="submit" value="Delete This Product" />
    </form>


    <div class=formComment>
      <h3>Add a comment!</h3>

      <form action='/comments' method='post'>
        <input class="commentWine" type='text' name='content' placeholder='Comment' required />
        <input class="commentAuthor" type='text' name='author' placeholder='Your Name' required/>
        <input type='hidden' name='wine' value='<%= oneWine._id %>' /> <br>
        <input class="btn btn-success" type='submit' />
      </form>

    </div>

    <% for (let comment of comments) { %>
      <p class="content"><%= comment.content %></p>
      <p class="author"> --<%= comment.author %></p>
      <br>
      <% } %>

  <a href="/wines/">
    <div "backBtn">
    <div class="btn btn-default"> Back to Home Page</div>
    </div>
  </a>

  <br>
    <% include partials/footer.ejs%>
  </body>
</html>