<!DOCTYPE html>
<html>
  <head>
<% include partials/head.ejs %>
  </head>
<body>
<% include partials/nav.ejs %>

<!-- start flex box -->
<div class="showPageFlexDiv">
  <div class="productShowDiv">
    <img class="imgShowPage" src='<%= oneWine.url %>' /><br>
  </div>
  <div class="productInfoDiv">
      <h3 class="productInfoh3"><%= oneWine.name_of_winery %></h3>
      <h3 class="productInfoh3"><%= oneWine.year %></h3>
      <h3 class="productInfoh3"><%= oneWine.region %></h3>
      <h3 class="productInfoh3">
        <%= oneWine.country %>
      </h3>
      <!-- <h3><%= oneWine.submitted_by %></h3> -->

<br>
    <form action="/wines/<%=oneWine.id; %>/edit">
      <input class="btn btn-default btn" type="submit" value="Edit" />
    </form>
<br>
    <form action="/wines/<%= oneWine.id;%>?_method=DELETE" method="POST">
      <input class="btn btn-default btn" type="submit" value="Remove From Cellar" />
    </form>
    </div>
</div>
    <!-- end flex box -->

  <br>
  <a href="/wines/">
    <div class="backBtn center">
      <div class="btn btn-default "> Back to Home Page</div>
    </div>
  </a>
  <br>

<!-- comments on show page -->
<!-- https://bootsnipp.com/snippets/featured/comment-box -->

<div class="commentsFullWidth">
  <div class="container">
    <div class="row">
    </div>
  
    <div class="row">
  
      <div class="col-md-6">
        <div class="widget-area no-padding blank">
          <div class="status-upload">
          <form action='/comments' method='post'>
              <textarea type='text' name='content' placeholder='Comment' required ></textarea>
             
            <input type='hidden' name='wine' value='<%= oneWine._id %>' />
         <div class="flexCommentSubmit">
            <input class="commentAuthor" type='text' name='author' placeholder='Your Name' required/>
              <button type="submit" class="btn btn-success green">
                <i class="fa fa-share"></i> Share</button>
          </div>
            </form>
          </div>
          <!-- Status Upload  -->
        </div>
        <!-- Widget Area -->
      </div>
  
    </div>
  </div>


  <!-- comment positng area -->
    <% for (let comment of comments) { %>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <br>
      </div>
      <!-- /col-sm-12 -->
    </div>
    <!-- /row -->
    <div class="row">
      <!-- <div class="col-sm-1"> -->
        <!-- <div class="thumbnail">
          <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
        </div> -->
        <!-- /thumbnail -->
      <!-- </div> -->
      <!-- /col-sm-1 -->
  
      <div class="col-sm-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong><%= comment.author %></strong>
            <span class="text-muted">commented recently</span>
          </div>
          <div class="panel-body">
                  <%= comment.content %>
                <br>
          </div>
          <!-- /panel-body -->
        </div>
        <!-- /panel panel-default -->
      </div>
      <!-- /col-sm-5 -->
    </div>
    <!-- /row -->
  </div>
  <% } %>
  <!-- /container -->

<br>

</div>
    <% include partials/footer.ejs%>
  </body>
</html>